.jumbotron {
    background-color: yellowgreen;
    color: black;
    margin-top: 50px;
}

body { 
/*    background: #BBD2C5;  /* fallback for old browsers */
/*    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
/*    background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*    color: honeydew;

*/} 

.btn {
    color: green;
    background-color: greenyellow;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: yellowgreen;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
    margin: 0px 0px 0px 10px;
}

.tab-content {
    padding-top: 10px;
}

.img-bg {
    margin-top: 10px;
}