@yellowgreen: #c9ff26;
@yellow: #f3f36d;
@btn: #a9dff5;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
    
}

.jumbotron {
    background-color:@yellowgreen;
    color: black;
    .margenes(50px, 10px);
}
  
body {
    /*    background: #BBD2C5;  /* fallback for old browsers */
    /*    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    /*    background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*    color: honeydew;
  
  */ }
  
  .btn {
    color: green;
    background-color: @btn;
 }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @yellowgreen;
    
    .margenes(10px, 0px);
}
  
  .card-hotel {
    flex: 1 150px;
    .margenes(10px, 0px);
}
  
  .btn-reserva {
    width: 100%;
    .margenes;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px;
    .margenes;
 }
  
  .tab-content {
    padding-top: 10px; }
  
  .img-bg {
    margin-top: 10px;
    margin-bottom: 0px;
    .margenes(10px, 0px); }
  