.jumbotron {
  background-color: #b5ec10;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

body {
  /*    background: #BBD2C5;  /* fallback for old browsers */
  /*    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  /*    background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*    color: honeydew;

*/ }

.btn {
  color: green;
  background-color: #fafa2b; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #b5ec10;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px; }

.tab-content {
  padding-top: 10px; }

.img-bg {
  margin-top: 10px;
  margin-bottom: 0px; }
