$yellowgreen: #b5ec10;
$yellow: #fafa2b;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron {
    background-color: $yellowgreen;
    color: black;
    @include margenes(50px, 10px);
}

body { 
/*    background: #BBD2C5;  /* fallback for old browsers */
/*    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
/*    background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*    color: honeydew;

*/} 

.btn {
    color: green;
    background-color: $yellow;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: $yellowgreen;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 150px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    @include margenes(0px, 0px);
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
    
    @include margenes(0px, 0px);
}

.tab-content {
    padding-top: 10px;
}

.img-bg {
    @include margenes(10px, 0px);
}